<div class="card">
    <img src="{{ asset('uploads/cities/' ~ city.picture) }}" class="card-img-top" alt="{{ city.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ city.name }}</h5>
        <a href="{{ path('city_show', {'id': city.id}) }}" class="btn btn-primary">
            <i class="fa fa-eye"></i>
            Voir les projets
        </a>
    </div>
    <div class="card-footer">
                    <span class="badge badge-pill badge-primary" title="Projets">
                        <i class="fa fa-lightbulb-o"></i>
                        {{ city.projects|length }}
                        {% if city.projects|length > 1 %}
                            projets
                        {% else %}
                            projet
                        {% endif %}
                    </span>
    </div>
</div>