{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block main %}
    <main class="main-content container">

        <div class="row">
            <div class="col-md-4">
                <img src="{{  asset('uploads/projects/' ~ project.picture) }}" alt="{{ project.title}}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>{{ project.title }}</h1>
                <div class="bg-light rounded p-2">
                    {% for category in project.categories %}
                        <span class="badge badge-pill badge-primary" title="Catégorie">
                            <i class="fa fa-tag"></i>
                            {{ category.label }}
                        </span>
                    {% endfor %}

                    <span class="badge badge-pill badge-secondary" title="Ville">
                        <i class="fa fa-map-marker"></i>
                        {{ project.city.name }}
                    </span>
                        <span class="badge badge-pill badge-info" title="Date de proposition">
                        <i class="fa fa-calendar"></i>
                        {{ project.createdAt|date("d/m/Y")}}
                    </span>
                        <span class="badge badge-pill badge-warning" title="Coût du projet">
                        <i class="fa fa-euro"></i>
                        {{ project.cost|number_format(0, '.', ' ') }}
                    </span>
                </div>
                <p>{{ project.description }}</p>
            </div>
        </div>

        <hr>

        {% block comment %}
            <form class="bg-light rounded p-2">
                <h2>Ajouter un commentaire</h2>
                <div class="form-group">
                    <label for="input-title">Titre</label>
                    <input type="text" class="form-control" id="input-title" placeholder="Titre">
                </div>
                <div class="form-group">
                    <label for="texatrea-comment">Contenu</label>
                    <textarea class="form-control" id="texatrea-comment" placeholder="Contenu de votre message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>

            <section class="list-group mt-4">
                <article class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">C'est une super idée !</h5>
                        <small>Il y a 2 heures</small>
                    </div>
                    <p class="mb-1"></p>
                    <small>J'aimerai vraiment pouvoir participer avec vous à ce projet.</small>
                </article>
                <article class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Avec des ruches !</h5>
                        <small>Il y a 4 jours</small>
                    </div>
                    <p class="mb-1"></p>
                    <small>On pourrait également installer des ruches sur le toit. Cela permettrait d'améliorer la bio-diversité et contribuerait au bon développement du potager. Il faudrait peut-être d'autres insectes nécessaires permettant de combattre les nuisibles (pucerons, limaces...).</small>
                </article>
            </section>
        {% endblock %}
    </main>
{% endblock %}
