{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% set now = date('now')%}

{% block main %}
    <main class="main-content container">

        <div class="row">
            <div class="col-md-4">
                <img src="{{  asset('uploads/projects/' ~ project.picture) }}" alt="{{ project.title}}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>{{ project.title }}</h1>
                <div class="bg-light rounded p-2">
                    {% for category in project.categories %}
                        <span class="badge badge-pill badge-primary" title="Catégorie">
                            <i class="fa fa-tag"></i>
                            {{ category.label }}
                        </span>
                    {% endfor %}

                    <span class="badge badge-pill badge-secondary" title="Ville">
                        <i class="fa fa-map-marker"></i>
                        {{ project.city.name }}
                    </span>
                        <span class="badge badge-pill badge-info" title="Date de proposition">
                        <i class="fa fa-calendar"></i>
                        {{ project.createdAt|date("d/m/Y")}}
                    </span>
                        <span class="badge badge-pill badge-warning" title="Coût du projet">
                        <i class="fa fa-euro"></i>
                        {{ project.cost|number_format(0, '.', ' ') }}
                    </span>
                </div>
                <p>{{ project.description }}</p>
            </div>
        </div>

        <hr>

        {% block comment %}

            {% if app.user %}
                {% include 'comment/new.html.twig' %}
            {% else %}
                <section class="text-center">
                    <h3>Vous devez être connecté(e) pour poster un commentaire !</h3>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
                    <a href="{{ path('app_register') }}">Créer un compte</a>
                </section>
                <hr>
            {% endif %}

            <section class="list-group mt-4">
                {% for comment in project.comments %}
                    <article class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ comment.title }}</h5>
                            <small>
                                {% set time = (now.timestamp - comment.createdAt.timestamp)/3600 %}
                                {% if time >= 1 and time < 24 %}
                                    il y a {{ time|round(0, 'floor') }} heure{% if time >= 2 %}s{% endif %}
                                {% elseif time >= 24 %}
                                    il y a {{ (time/24)|round(0, 'floor') }} jour{% if (time/24) >= 2 %}s{% endif %}
                                {% else %}
                                    il y a {{ (time*60)|round(0, 'floor') }} minute{% if (time*60) >= 2 %}s{% endif %}
                                {% endif %}
                            </small>
                        </div>
                        <p class="mb-1"></p>
                        <small>{{ comment.content }}</small>
                    </article>
                {% endfor %}
            </section>

        {% endblock %}
    </main>
{% endblock %}
